@model List<Carrello>

@{
    ViewData["Title"] = "Carrello";
}

<h1 style="font-size: 90px;">Il tuo Carrello</h1> <hr><br>

<table>
    @foreach (var item in Model)
    {
        <tr>
            
            @if(User.Identity!.Name! == item.Username_Utente || User.Identity!.Name! == "Kappa" || User.Identity!.Name! == "MConti") 
            {
                <td>
                    <h3>@item.Nome_Prodotto</h3>                           
                </td>
            }
        </tr>
        <table class="justify-content-end">
            <tr>
                    <form asp-action="RemoveMultiple" asp-controller="Carrello">
                        <div class="product-grid">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary" onclick="decrementQuantity('form-control text-center @item.Nome_Prodotto')">-</button>
                                </div>
                                <input type="text" class="form-control text-center @item.Nome_Prodotto" value="@item.NumeroDiOggetti" id="quantity-@item.Nome_Prodotto" name="quantities[@item.Nome_Prodotto]" />
                                <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" onclick="incrementQuantity('quantity-@item.Nome_Prodotto')">+</button>
                                </div>
                                    <input type="text" class="d-none" value="@item.Nome_Prodotto"/>
                                 
                                    <div class="alert d-none" style="position: fixed; bottom: 20px;left: 20px;background-color:transparent;" role="alert" id="Alert_save">
                                        <input type="submit" class="btn btn-danger" style="width: 150px; height: 50px" value="Save Changes">
                                    </div>
                            </div>
                        </div>
                    </form>
                    <td>                    
                    <form asp-action="RemoveItem" method="post" asp-route-id="@item.Nome_Prodotto">
                        <input class="btn btn-primary" type="submit" value="Remove">
                    </form>
                    </td>

            </tr>
        </table>
        <hr>
    }
</table>
<script>
  function incrementQuantity(quantityId) {
    var quantityInput = document.getElementById(quantityId);
    var currentQuantity = parseInt(quantityInput.value);
    if (currentQuantity < 999) {
        quantityInput.value = currentQuantity + 1;
        var p = document.getElementById("Alert_save");
        p.classList.remove("d-none");
        
        
    }
  }

  function decrementQuantity(quantityclass) {
    var quantityInputs = document.getElementsByClassName(quantityclass);
    for (var i = 0; i < quantityInputs.length; i++) {
      var quantityInput = quantityInputs[i];
      var currentQuantity = parseInt(quantityInput.value);
      if (currentQuantity > 0) {
        quantityInput.value = currentQuantity - 1;
        var p = document.getElementById("Alert_save");
        p.classList.remove("d-none");
      }
    }
    
  }
</script>